$dark-teal: #1e4b55;
$primary-yellow: #f2b94a;
$light-teal: #67b3c2;
$white: #ffffff;
$off-white: #f5f5f5;

$schedule-blue: #7bc2d0;
$event-cream: #fff9d8;
$event-pale-yellow: #fdeab6;
$event-light-blue: #d0f0f5;