@use "../utils/variables" as *;

.learning-card {
    display: flex;
    align-items: center;
    gap: 1.1rem;

    background: $dark-teal;
    color: $white;

    padding: .9rem 1.1rem;
    border-radius: 28px;
    width: 500px;
    height: 120px;
    position: relative;

    &__image {
        width: 100px;
        height: 120px;
        object-fit: cover;
        border-radius: 16px;
    }


    &__body {
        flex: 1;
        text-align: center;
    }

    &__title {
        font-size: .98rem;
        font-weight: 600;
        line-height: 1.35;
    }

    &__badge {
        position: absolute;
        top: 10px;
        right: 18px;

        background: $white;
        color: $dark-teal;

        font-size: .65rem;
        font-weight: 600;
        padding: 3px 10px;
        border-radius: 999px;
    }

    &__arrow {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: none;
        background: $primary-yellow;
        color: $dark-teal;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}